<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\ApplicationBundle\MVCApp.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HrContext" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-NUIRMP2\SQLEXPRESS;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sqlserver" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCApp.Models.HrContext, MVCApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdventureWorks2014Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-NUIRMP2\SQLEXPRESS;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sqlserver" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCApp.Models.AdventureWorks2014Entities, MVCApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AdventureWorks2014Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PersonModel.csdl|res://*/Models.PersonModel.ssdl|res://*/Models.PersonModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-NUIRMP2\SQLEXPRESS;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sqlserver"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HrContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.HrModel.csdl|res://*/Models.HrModel.ssdl|res://*/Models.HrModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-NUIRMP2\SQLEXPRESS;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sqlserver"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>