<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        cbox {
          width: 400px;
          height: 400px;
          color: darkblue;
          background-color: lightcoral;
          text-align: center;
          padding: 20px;
          margin: 20px;
        }

        h1 {
          text-align: center;
        }

    </style>
</head>
<body>
    <div class="cbox">
        <h1>Departments Record Alert</h1>
        <br />
        <br />
        [Message]
    </div>
</body>
</html>